# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
.claude
CLAUDE.md

# Project Specific Data
captured_data/
processed_data/